# ===== MAC =====
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverrideIcon
._*

# ===== WINDOWS =====
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# ===== UNITY =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emory[Cc]aptures/
*.pidb
*.unityproj
*.booproj
sysinfo.txt
*.stackdump

# ===== VISUAL STUDIO (Windows) =====
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user

# ===== VS CODE (Mac & Windows) =====
.vscode/

# ===== RIDER (JetBrains) =====
.idea/

# ===== CRASH REPORTS =====
crashlytics-build.properties
